# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Visual Studio Code workspace files
*.code-workspace

# Temporary Excel files (created when a file is open)
~$*.xlsx
~$*.xls
~$*.xlsm